* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    outline: none;
}



img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

body {
    background: url("./img/background.png");
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 6px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {

    border: none;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

.button-add-task {

    border: none;
    border-radius: 6px;
    height: 40px;
    background-color: #003329;
    color: white;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;

}


.button-add-task:hover {
    opacity: 0.8;
    background-color: #003329;
    transition: 0.7s;

}

.button-add-task:active {
    border: solid 4px gray;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.task:hover img {
    opacity: 1;

}